div.htmlbox {
  border: 2px solid #E9EAEF;
  position: relative;
  padding-top: 30px;
}
  div.htmlbox div.htmlbox-toolbar {
    background: #BCBECD url(images/bg_silver.jpg) repeat-x 0 0;
    border-bottom: 1px outset white;
    height: 27px;
    overflow: hidden;
    padding: 3px 3px 0;
    position: absolute;
    top: 0;
    left: 0;
  }
    div.htmlbox div.htmlbox-toolbar button {
      background-color: transparent;
      border: 1px solid #E9EAEF;
      margin: 1px 1px 3px 1px;
      padding: 0;
      overflow: hidden;
      width: 26px;
      height: 22px;
    }
    div.htmlbox div.htmlbox-toolbar select {
      height: 22px;
      line-height: 22px;
    }
    div.htmlbox div.htmlbox-toolbar span.htmlbox-separator_basic {
      background-image: transparent url(images/separator_basic.gif) 50% 50% no-repeat;
      margin: 0 3px 0 5px;
      line-height: 20px;
    }
    div.htmlbox div.htmlbox-toolbar span.htmlbox-separator_dots {
      background: transparent url(images/separator_dots.gif) 50% 50% no-repeat;
      margin: 0 3px 0 5px;
      line-height: 20px;
    }

    div.htmlbox div.htmlbox-toolbar button span {
      background: transparent url(images/icons.png) 100% 100% no-repeat;
      line-height: 20px;
      padding: 2px 18px 2px 0;
      height: 20px;
    }
      div.htmlbox div.htmlbox-toolbar button span.htmlbox-b { background-position: 0 0; }
      div.htmlbox div.htmlbox-toolbar button span.htmlbox-center { background-position: -420px 0; }
      div.htmlbox div.htmlbox-toolbar button span.htmlbox-copy { background-position: -280px 0; }
      div.htmlbox div.htmlbox-toolbar button span.htmlbox-cut { background-position: -300px 0; }
      div.htmlbox div.htmlbox-toolbar button span.htmlbox-hr { background-position: -360px 0px; }
      div.htmlbox div.htmlbox-toolbar button span.htmlbox-html { background-position: -260px 0; }
      div.htmlbox div.htmlbox-toolbar button span.htmlbox-hyperlink { background-position: -500px 0; }
      div.htmlbox div.htmlbox-toolbar button span.htmlbox-unlink { background-position: -640px 0; }
      div.htmlbox div.htmlbox-toolbar button span.htmlbox-i { background-position: -60px 0; }
      div.htmlbox div.htmlbox-toolbar button span.htmlbox-img { background-position: -380px 0; }
      div.htmlbox div.htmlbox-toolbar button span.htmlbox-indent { background-position: -400px 0; }
      div.htmlbox div.htmlbox-toolbar button span.htmlbox-justify { background-position: -440px 0; }
      div.htmlbox div.htmlbox-toolbar button span.htmlbox-left { background-position: -460px 0; }
      div.htmlbox div.htmlbox-toolbar button span.htmlbox-li { background-image: url(images/li.gif); }
      div.htmlbox div.htmlbox-toolbar button span.htmlbox-ol { background-position: -80px 0; }
      div.htmlbox div.htmlbox-toolbar button span.htmlbox-outdent { background-position: -540px 0; }
      div.htmlbox div.htmlbox-toolbar button span.htmlbox-paragraph { background-position: -840px -20px; }
      div.htmlbox div.htmlbox-toolbar button span.htmlbox-paste { background-position: -560px 0; }
      div.htmlbox div.htmlbox-toolbar button span.htmlbox-preview { background-position: -80px -20; }
      div.htmlbox div.htmlbox-toolbar button span.htmlbox-redo { background-position: -100px 0; }
      div.htmlbox div.htmlbox-toolbar button span.htmlbox-right { background-position: -480px 0; }
      div.htmlbox div.htmlbox-toolbar button span.htmlbox-sub { background-position: -600px 0; }
      div.htmlbox div.htmlbox-toolbar button span.htmlbox-sup { background-position: -620px 0; }
      div.htmlbox div.htmlbox-toolbar button span.htmlbox-u { background-position: -140px 0; }
      div.htmlbox div.htmlbox-toolbar button span.htmlbox-ul { background-position: -20px 0; }
      div.htmlbox div.htmlbox-toolbar button span.htmlbox-undo { background-position: -160px 0; }
      div.htmlbox div.htmlbox-toolbar button span.htmlbox-pre { background-position: -40px -40px; }
      div.htmlbox div.htmlbox-toolbar button span.htmlbox-code { background-position: -20px -40px; }
