#htmlbox-buttons-order .form-item {
  float: left;
}
div.htmlbox-buttons span {
  background: #ccc url(images/icons.png) 100% 100% no-repeat;
  padding: 2px 20px 2px 0;
  height: 20px;
  line-height: 20px;
  margin: 0 5px 0 0;
}
div.htmlbox-buttons-js span {
  float: left;
  cursor:pointer;
  cursor:hand;
  float: left;
  position: relative;
  padding: 0 20px 2px 0;
}
  div.htmlbox-buttons span.htmlbox-bold { background-position: 0 0; }
  div.htmlbox-buttons span.htmlbox-center { background-position: -420px 0; }
  div.htmlbox-buttons span.htmlbox-copy { background-position: -280px 0; }
  div.htmlbox-buttons span.htmlbox-cut { background-position: -300px 0; }
  div.htmlbox-buttons span.htmlbox-html { background-position: -260px 0; }
  div.htmlbox-buttons span.htmlbox-link { background-position: -500px 0; }
  div.htmlbox-buttons span.htmlbox-unlink { background-position: -640px 0; }
  div.htmlbox-buttons span.htmlbox-italic { background-position: -60px 0; }
  div.htmlbox-buttons span.htmlbox-image { background-position: -380px 0; }
  div.htmlbox-buttons span.htmlbox-indent { background-position: -400px 0; }
  div.htmlbox-buttons span.htmlbox-justify { background-position: -440px 0; }
  div.htmlbox-buttons span.htmlbox-left { background-position: -460px 0; }
  div.htmlbox-buttons span.htmlbox-li { background-image: url(images/li.gif); }
  div.htmlbox-buttons span.htmlbox-ol { background-position: -80px 0; }
  div.htmlbox-buttons span.htmlbox-outdent { background-position: -540px 0; }
  div.htmlbox-buttons span.htmlbox-paste { background-position: -560px 0; }
  div.htmlbox-buttons span.htmlbox-preview { background-position: -80px -20; }
  div.htmlbox-buttons span.htmlbox-redo { background-position: -100px 0; }
  div.htmlbox-buttons span.htmlbox-right { background-position: -480px 0; }
  div.htmlbox-buttons span.htmlbox-sub { background-position: -600px 0; }
  div.htmlbox-buttons span.htmlbox-sup { background-position: -620px 0; }
  div.htmlbox-buttons span.htmlbox-underline { background-position: -140px 0; }
  div.htmlbox-buttons span.htmlbox-ul { background-position: -20px 0; }
  div.htmlbox-buttons span.htmlbox-undo { background-position: -160px 0; }
  div.htmlbox-buttons span.htmlbox-fontsize { background-position: -720px 0; }
  div.htmlbox-buttons span.htmlbox-fontfamily { background-position: -960px -20px; }
  div.htmlbox-buttons span.htmlbox-fontcolor { background-position: -560px -20px; }
  div.htmlbox-buttons span.htmlbox-highlight { background-position: -760px 0px; }
  div.htmlbox-buttons span.htmlbox-p { background-position: -840px -20px; }
  div.htmlbox-buttons span.htmlbox-pre { background-position: -40px -40px; }
  div.htmlbox-buttons span.htmlbox-code { background-position: -20px -40px; }
  div.htmlbox-buttons span.htmlbox-hyperlink { background-position: -500px 0; }
  div.htmlbox-buttons span.htmlbox-headers { background-position: -60px -40px; }
  div.htmlbox-buttons span.htmlbox-separator_basic {
    background-image: #ccc url(images/separator_basic.gif) 50% 50% no-repeat;
    padding: 0 2px 0 2px;
  }
  div.htmlbox-buttons span.htmlbox-separator_dots {
    background: #ccc url(images/separator_dots.gif) 50% 50% no-repeat;
    padding: 0 2px 0 2px;
  }
div#htmlbox-droparea {
  width: 300px;
  height: 100px;
  border: 3px double #999;
  padding: 5px;
  margin: 1em 0;
}